@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;500;700;900&display=swap');
:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
  }

.container {
width: 1170px;
margin: 0 auto;
padding: 0 15px;
}
.main-item-link {
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: #212121;
list-style-type: none;
text-decoration: none;
}
span {
    color: #2196f3
}
.main-address {
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: #757575;
}
.address-mail {
    cursor: pointer;
    color: #2196f3;
}
.hero-title {
    font-family: "Roboto", sans-serif;
font-weight: 900;
font-size: 44px;
line-height: 136%;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: center;
color: #fff

}

   

.hero-button {
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 187%;
letter-spacing: 0.06em;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #2196f3;
color: #fff;
text-align: center;
margin: 0 auto;
display: block;
}

.third-subtitle {
    font-family: "Roboto", sans-serif; 
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    
}
.third-description {
    font-family: "Roboto", sans-serif; 
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575;
}
.main-list {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center; 
    justify-content: space-between;
    list-style-type: none;
    
}
.third-list {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center; 
    justify-content: space-between;
    list-style-type: none;
   
}


.address-mail {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #757575;
    }

.address-tel {
    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: #757575;
}
.hero-section {
background-color: #2F303A;
padding: 200px 0;

}
.main-title {
    font-family: var(--second-family);
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;

}
.occupation-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}
.occupation-photo {
    width: 370px;
    height: 294px;
}
.occupation-list {
display: flex;
flex-direction: row;
gap: 30px;
list-style-type: none;
}
.team-title {
    font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.team-item{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}
.team-photo {
    width: 270px;
height: 260px;
}
.team-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.team-occupation {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
letter-spacing: 0.03em;
text-align: center;
color: #757575;
}
.footer-info {
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer-item {
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #fff;
}
.footer-section {
    background-color: #2F303A;
    padding: 40px 0;
}
.footer-title {
    font-family: var(--second-family);
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: #fff;
}
.third-section {
    margin: 94px;
}
.team-section {
    margin: 188px;
}